config/flows.json
[
    {
        "id": "eca99d8bf1138501",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de5243fddd4ea70f",
        "type": "ui_tab",
        "name": "Controller",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d63b47cbe26c4286",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#ffa500",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#ffa500",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ffa500",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffc04d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ffa500",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Halloween Controller",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "52ac967c2860f372",
        "type": "ui_group",
        "name": "Routines",
        "tab": "de5243fddd4ea70f",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": true,
        "className": ""
    },
    {
        "id": "37b2385f694838f9",
        "type": "ui_group",
        "name": "Movements",
        "tab": "de5243fddd4ea70f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f55fa1d13dfa10e",
        "type": "ui_group",
        "name": "LightshowPi",
        "tab": "de5243fddd4ea70f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98f897b8d51a8fde",
        "type": "exec",
        "z": "eca99d8bf1138501",
        "command": "sudo python3 /home/pi/workspace/animatronic/animatronic.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Exec Animatronic Action",
        "x": 490,
        "y": 360,
        "wires": [
            [],
            [
                "2752ac7a55ca1391"
            ],
            [
                "98735ffb3f1ed999"
            ]
        ],
        "inputLabels": [
            "action"
        ]
    },
    {
        "id": "2752ac7a55ca1391",
        "type": "debug",
        "z": "eca99d8bf1138501",
        "name": "STDERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "98735ffb3f1ed999",
        "type": "debug",
        "z": "eca99d8bf1138501",
        "name": "Return code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "e62a41a8a20e3e3f",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "SpongeBob - Start Party",
        "group": "52ac967c2860f372",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SpongeBob - Start Party",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "--action=\"startParty\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "47ad441df7bcb6a7",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "SpongeBob - Torture",
        "group": "52ac967c2860f372",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SpongeBob - Torture",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "--action=\"torture\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "df35f39d5feea884",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "BeetleJuice - Exorcist",
        "group": "52ac967c2860f372",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "BeetleJuice - Exorcist",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"exorcist\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "ad831db9fbe4fe84",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Blah Blah Blah",
        "group": "52ac967c2860f372",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Blah Blah Blah",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"blah\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "0189c287d5a50256",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Vader - You are beaten",
        "group": "52ac967c2860f372",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Vader - You are beaten",
        "tooltip": "",
        "color": "gray",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "--action=\"vaderBeaten\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "7d74b864f09ea07e",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Krusty Clown Laugh",
        "group": "52ac967c2860f372",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Krusty Clown Laugh",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"krusty\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "f55b1577f4d68762",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Test",
        "group": "52ac967c2860f372",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-exclamation-triangle",
        "payload": "--action=\"test\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "810b71a52b9ad808",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Well, we're waiting!",
        "group": "52ac967c2860f372",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Well, we're waiting!",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"waiting\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "b9b6ce02fa09e6e0",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Vader - I am you father!",
        "group": "52ac967c2860f372",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Vader - I am you father!",
        "tooltip": "",
        "color": "gray",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "--action=\"vaderFather\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "98f897b8d51a8fde"
            ]
        ]
    },
    {
        "id": "98e0efb4b104691b",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Wave",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Wave",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"wave\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "0d8063b75ac27300",
        "type": "exec",
        "z": "eca99d8bf1138501",
        "command": "sudo python3 /home/pi/workspace/animatronic/controller.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Exec Controller Action",
        "x": 480,
        "y": 800,
        "wires": [
            [],
            [
                "d22206dbb8a73e8f"
            ],
            [
                "ede3ec231e96bc53"
            ]
        ],
        "inputLabels": [
            "action"
        ]
    },
    {
        "id": "ede3ec231e96bc53",
        "type": "debug",
        "z": "eca99d8bf1138501",
        "name": "Return code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 820,
        "wires": []
    },
    {
        "id": "d22206dbb8a73e8f",
        "type": "debug",
        "z": "eca99d8bf1138501",
        "name": "STDERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 780,
        "wires": []
    },
    {
        "id": "ca5744d71c6ad0e0",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Yes",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Yes",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"yes\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "e95925e47611c8ca",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "No",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "No",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"no\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "b4274e995272bbca",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Small No",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Small No",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"smno\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "bfa1f1238f597fa5",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Look Around",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Look Around",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"lookAround\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "44818a9b4ce59065",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Neck Ellipse",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Neck Ellipse",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"neckEllipse\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "c168c84076782a89",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Swivel Head",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Swivel Head",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"swivelHead\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "75d999c219ff892b",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Come",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Come",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"come\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "dbb8a2482d9b6c76",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Come In",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Come In",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"comein\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "3826adbd0ba68c54",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Look Around Small",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Look Around Small",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"lookAroundSmall\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 156,
        "y": 879,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "a2d7d0bd2e532a05",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Scan",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Scan",
        "tooltip": "",
        "color": "black",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "--action=\"scan\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "32eb9c0d86888fb7",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Partol",
        "group": "37b2385f694838f9",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Patrol",
        "tooltip": "",
        "color": "black",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "--action=\"patrol\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "0d8063b75ac27300"
            ]
        ]
    },
    {
        "id": "eb2fe32819c58556",
        "type": "exec",
        "z": "eca99d8bf1138501",
        "command": "sudo /usr/bin/python3 /home/pi/workspace/lightshowpi/py/synchronized_lights.py --config overrides-mic.cfg",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Exec LSP Mic Stream",
        "x": 540,
        "y": 1100,
        "wires": [
            [],
            [],
            []
        ],
        "inputLabels": [
            "action"
        ]
    },
    {
        "id": "0788c1d62f7be02a",
        "type": "ui_button",
        "z": "eca99d8bf1138501",
        "name": "Mic",
        "group": "4f55fa1d13dfa10e",
        "order": 9,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Mic",
        "tooltip": "",
        "color": "white",
        "bgcolor": "blue",
        "className": "",
        "icon": "fa-microphone fa-2x",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1200,
        "wires": [
            [
                "eb2fe32819c58556"
            ]
        ]
    }
]