config/murdercity_flows.json
[{"id":"aa52d316.bb832","type":"trigger","z":"699b1d61.537e64","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"trigger solenoid","x":1166.5,"y":374,"wires":[["1872bc25.3b7ff4"]]},{"id":"1872bc25.3b7ff4","type":"rpi-gpio out","z":"699b1d61.537e64","name":"","pin":"37","set":true,"level":"1","freq":"","out":"out","x":1360,"y":360,"wires":[]},{"id":"b05482b0.83f3d","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/Scary Scream.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1169,"y":309,"wires":[]},{"id":"de7fc6cd.1893f8","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Banshee","payload":"1","topic":"","group":"Props","order":1,"x":572.5,"y":253,"wires":[["32eb71f4.a23c4e"]]},{"id":"dfd902da.d1618","type":"trigger","z":"699b1d61.537e64","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"trigger solenoid","x":1189,"y":189,"wires":[["67403b14.16b4f4"]]},{"id":"67403b14.16b4f4","type":"rpi-gpio out","z":"699b1d61.537e64","name":"","pin":"33","set":true,"level":"1","freq":"","out":"out","x":1380,"y":180,"wires":[]},{"id":"297a9b1f.b08754","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"ms","reset":"","name":"trigger sound ","x":986.5,"y":308,"wires":[["b05482b0.83f3d"]]},{"id":"da6e3bec.fe15c8","type":"rpi-gpio out","z":"699b1d61.537e64","name":"","pin":"38","set":true,"level":"1","freq":"","out":"out","x":1169,"y":249,"wires":[]},{"id":"f64584e9.0a7468","type":"trigger","z":"699b1d61.537e64","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"trigger light","x":979,"y":249,"wires":[["da6e3bec.fe15c8"]]},{"id":"c63554ef.ac1928","type":"trigger","z":"699b1d61.537e64","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"trigger light","x":976.5,"y":454,"wires":[["634a12e6.f42ffc"]]},{"id":"634a12e6.f42ffc","type":"rpi-gpio out","z":"699b1d61.537e64","name":"","pin":"40","set":true,"level":"1","freq":"","out":"out","x":1166.5,"y":454,"wires":[]},{"id":"5142345a.28a7ac","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"ms","reset":"","name":"trigger sound","x":976.5,"y":534,"wires":[["323fd0d2.caa15"]]},{"id":"323fd0d2.caa15","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/monster_growl.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1184,"y":533,"wires":[]},{"id":"2cd1bf41.d1c228","type":"trigger","z":"699b1d61.537e64","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"2.5","extend":false,"units":"s","reset":"","name":"trigger solenoid","x":1183,"y":622,"wires":[["46baec29.f2ce8c"]]},{"id":"46baec29.f2ce8c","type":"rpi-gpio out","z":"699b1d61.537e64","name":"","pin":"35","set":true,"level":"1","freq":"","out":"out","x":1363,"y":622,"wires":[]},{"id":"c8362fc8.60949","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Pumpkin Popup","payload":"1","topic":"halloween","group":"Props","order":"3","x":584,"y":701,"wires":[["345383a8.28949c"]]},{"id":"baa0a4a.d1d7358","type":"trigger","z":"699b1d61.537e64","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"trigger light","x":973,"y":702,"wires":[["1377176c.4b91b9"]]},{"id":"1377176c.4b91b9","type":"rpi-gpio out","z":"699b1d61.537e64","name":"","pin":"36","set":true,"level":"1","freq":"","out":"out","x":1143,"y":702,"wires":[]},{"id":"9dce1e6d.e5a86","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/s scream1.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1143,"y":782,"wires":[]},{"id":"be7957cd.8d90f8","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":960.5,"y":781,"wires":[["9dce1e6d.e5a86"]]},{"id":"f3b5988d.fe7668","type":"delay","z":"699b1d61.537e64","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":976.5,"y":374,"wires":[["aa52d316.bb832"]]},{"id":"18da0abf.e10c95","type":"delay","z":"699b1d61.537e64","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":180,"wires":[["dfd902da.d1618"]]},{"id":"b68dca5c.7d2148","type":"delay","z":"699b1d61.537e64","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":973,"y":622,"wires":[["2cd1bf41.d1c228"]]},{"id":"32eb71f4.a23c4e","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"units":"ms","reset":"","name":"","x":768.5,"y":256,"wires":[["18da0abf.e10c95","f64584e9.0a7468","297a9b1f.b08754"]]},{"id":"ca1850e7.b52ab","type":"http in","z":"699b1d61.537e64","name":"Trigger Prop Request POST","url":"/api/v1/triggerprop/","method":"post","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["eab3aba2.afbcf8","f6d41ba6.ebbe48"]]},{"id":"f6d41ba6.ebbe48","type":"debug","z":"699b1d61.537e64","name":"Debugger","active":false,"console":"true","complete":"payload","x":290,"y":260,"wires":[]},{"id":"9141edc6.559a7","type":"http response","z":"699b1d61.537e64","name":"Trigger Response","statusCode":"200","headers":{},"x":603,"y":91,"wires":[]},{"id":"eab3aba2.afbcf8","type":"switch","z":"699b1d61.537e64","name":"Switch","property":"payload.prop_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"else"}],"checkall":"false","outputs":4,"x":419,"y":416,"wires":[["9141edc6.559a7","32eb71f4.a23c4e"],["9141edc6.559a7","8fe6e155.fb171"],["9141edc6.559a7","345383a8.28949c"],["8d546f0b.4c3d9"]],"outputLabels":["Banshee","Lunger","Popup",""]},{"id":"8d546f0b.4c3d9","type":"http response","z":"699b1d61.537e64","name":"Trigger Error Response","statusCode":"500","headers":{},"x":620,"y":140,"wires":[]},{"id":"8fe6e155.fb171","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"units":"ms","reset":"","name":"","x":784,"y":455,"wires":[["f3b5988d.fe7668","c63554ef.ac1928","5142345a.28a7ac"]]},{"id":"345383a8.28949c","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"1","extend":false,"units":"ms","reset":"","name":"","x":790,"y":702,"wires":[["b68dca5c.7d2148","baa0a4a.d1d7358","be7957cd.8d90f8"]]},{"id":"c099ab4b.517be8","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Coyote Howl","payload":"1","topic":"halloween","group":"Sound FX","order":"2","x":799,"y":1071,"wires":[["205452b6.1795de"]]},{"id":"3e8c1fad.1d59f","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/coyote.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1126.5,"y":1069,"wires":[]},{"id":"205452b6.1795de","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":969,"y":1071,"wires":[["3e8c1fad.1d59f"]]},{"id":"ec3055ef.30b388","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Wolf Howl","payload":"1","topic":"halloween","group":"Sound FX","order":1,"x":787.5,"y":1013,"wires":[["8055cdc9.bbc3"]]},{"id":"4db9e509.a70fec","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/wolf-howl.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1125,"y":1011,"wires":[]},{"id":"8055cdc9.bbc3","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":961.5,"y":1013,"wires":[["4db9e509.a70fec"]]},{"id":"670a45a9.0458dc","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Footsteps","payload":"1","topic":"halloween","group":"Sound FX","order":"3","x":789.5,"y":1126,"wires":[["e847f971.b3a8d8"]]},{"id":"1b03cc27.49bd44","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/footsteps.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1120,"y":1126,"wires":[]},{"id":"e847f971.b3a8d8","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":968.5,"y":1127,"wires":[["1b03cc27.49bd44"]]},{"id":"80a4351f.a317f8","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Wind","payload":"1","topic":"halloween","group":"Sound FX","order":"4","x":779.5,"y":1177,"wires":[["da07c31e.5f9de"]]},{"id":"a29c11a.587d1f","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/wind.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1123,"y":1177,"wires":[]},{"id":"da07c31e.5f9de","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":966.5,"y":1177,"wires":[["a29c11a.587d1f"]]},{"id":"74a9b495.af338c","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/owl.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1128.5,"y":1247,"wires":[]},{"id":"65cb0fc6.dd08b","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Owl","payload":"1","topic":"","group":"Sound FX","order":"5","x":773.5,"y":1248,"wires":[["2c29ee72.c6a762"]]},{"id":"2c29ee72.c6a762","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":953.5,"y":1247,"wires":[["74a9b495.af338c"]]},{"id":"1926393c.f9b027","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":973.5,"y":1315,"wires":[["d4cb87b3.22b358"]]},{"id":"dcd1a674.69aeb8","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Like This One","payload":"1","topic":"","group":"Sound FX","order":"6","x":791.5,"y":1316,"wires":[["1926393c.f9b027"]]},{"id":"d4cb87b3.22b358","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/like-this-one.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1137.5,"y":1317,"wires":[]},{"id":"50ae36b9.be2728","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/waiting.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1125.5,"y":1506,"wires":[]},{"id":"7b30e1d1.dafc5","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":956.5,"y":1506,"wires":[["50ae36b9.be2728"]]},{"id":"a5d84020.02d26","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Waiting","payload":"1","topic":"","group":"Sound FX","order":"10","x":770.5,"y":1507,"wires":[["7b30e1d1.dafc5"]]},{"id":"14d54370.78d2cd","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/evil-laugh.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1142,"y":1374,"wires":[]},{"id":"e667763f.033108","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":973,"y":1374,"wires":[["14d54370.78d2cd"]]},{"id":"4a2ce0e8.9323f","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Evil Laugh","payload":"1","topic":"","group":"Sound FX","order":"7","x":788,"y":1374,"wires":[["e667763f.033108"]]},{"id":"637921f0.46524","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/vincent-price-laugh.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1159,"y":1441,"wires":[]},{"id":"e2bc3e63.0c926","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":993,"y":1441,"wires":[["637921f0.46524"]]},{"id":"2f86661f.91f25a","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Vincent Price","payload":"1","topic":"","group":"Sound FX","order":"8","x":787,"y":1439,"wires":[["e2bc3e63.0c926"]]},{"id":"e3b3ccb8.934e7","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/hauntedhouse.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1145,"y":1564,"wires":[]},{"id":"4875b3ac.7b36fc","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":980,"y":1562,"wires":[["e3b3ccb8.934e7"]]},{"id":"668f7a04.fc19e4","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Haunted House","payload":"1","topic":"","group":"Sound FX","order":"11","x":800,"y":1562,"wires":[["4875b3ac.7b36fc"]]},{"id":"137ce34f.2d32ed","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/moaning-chains.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1141,"y":1625,"wires":[]},{"id":"15521aa6.b7c875","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":976,"y":1623,"wires":[["137ce34f.2d32ed"]]},{"id":"9cdb133c.71b93","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Moaning Chains","payload":"1","topic":"","group":"Sound FX","order":"11","x":796,"y":1623,"wires":[["15521aa6.b7c875"]]},{"id":"2f015a6e.e7f7b6","type":"speakerpi-output","z":"699b1d61.537e64","choose":"givenfile","filename":"/home/pi/Music/wav/raven.wav","channels":"1","bitdepth":"8","samplerate":"11025","name":"sound fx","x":1139,"y":1689,"wires":[]},{"id":"4160a57c.ca818c","type":"trigger","z":"699b1d61.537e64","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"ms","reset":"","name":"trigger sound","x":974,"y":1687,"wires":[["2f015a6e.e7f7b6"]]},{"id":"a3e4e319.6d0f5","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Raven","payload":"1","topic":"","group":"Sound FX","order":"12","x":766,"y":1687,"wires":[["4160a57c.ca818c"]]},{"id":"60e241c0.a5313","type":"ui_button","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Lunger","payload":"1","topic":"halloween","group":"Props","order":"2","x":454.6328125,"y":533.59765625,"wires":[["8fe6e155.fb171"]]},{"id":"f19154e1.b56208","type":"looptimer","z":"699b1d61.537e64","duration":"4","units":"Minute","maxloops":"100","maxtimeout":"4","maxtimeoutunits":"Hour","name":"","x":339.5,"y":852,"wires":[["58e5a45b.03583c"],[]]},{"id":"99d52193.c0408","type":"ui_switch","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Automate Props","topic":"","group":"Props","order":"4","onvalue":"true","offvalue":"false","x":100.5,"y":702,"wires":[["612954ce.f82fbc"]]},{"id":"58e5a45b.03583c","type":"random","z":"699b1d61.537e64","name":"","low":"0","high":"1","inte":"true","x":528.5,"y":856,"wires":[["cf38304.a3b53d"]]},{"id":"cf38304.a3b53d","type":"switch","z":"699b1d61.537e64","name":"Prop Switcher","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":3,"x":703.5,"y":835,"wires":[["32eb71f4.a23c4e"],["345383a8.28949c"],[]]},{"id":"612954ce.f82fbc","type":"change","z":"699b1d61.537e64","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":167,"y":918,"wires":[["f19154e1.b56208"]]},{"id":"7ccb6ca9.99ffa4","type":"looptimer","z":"699b1d61.537e64","duration":"90","units":"Second","maxloops":"300","maxtimeout":"4","maxtimeoutunits":"Hour","name":"","x":320,"y":1355,"wires":[["2f96cc09.0b88e4"],[]]},{"id":"fc87f2fe.f5f8a","type":"ui_switch","z":"699b1d61.537e64","tab":"da460195.4898a","name":"Automate Sound FX","topic":"","group":"Sound FX","order":"13","onvalue":"true","offvalue":"false","x":107,"y":1189,"wires":[["bc105678.fd0008"]]},{"id":"bc105678.fd0008","type":"change","z":"699b1d61.537e64","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":153.5,"y":1405,"wires":[["7ccb6ca9.99ffa4"]]},{"id":"2f96cc09.0b88e4","type":"random","z":"699b1d61.537e64","name":"","low":"0","high":"6","inte":"true","x":308.99999237060547,"y":1231.9999914169312,"wires":[["7707edf1.933434"]]},{"id":"7707edf1.933434","type":"switch","z":"699b1d61.537e64","name":"Prop Switcher","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","outputs":7,"x":480,"y":1234,"wires":[["8055cdc9.bbc3"],["2c29ee72.c6a762"],["1926393c.f9b027"],["e667763f.033108"],["e2bc3e63.0c926"],["7b30e1d1.dafc5"],["4160a57c.ca818c"]]},{"id":"da460195.4898a","type":"ui_tab","z":"699b1d61.537e64","name":"Home","icon":"home","order":"1"}]
